    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/180241_Papel-de-Parede-Circuito--180241_1600x1200_smaller.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
    <div class="showcase-text">
        <!--{% for post in site.posts limit: 1 %}
        <span class="badge lazy"><smaller>FRESHLY MINTED</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
        {% endfor %}-->
        {{ site.author }}
        <br />
        <!--<smaller style="font-size: 50%"> {{ site.greeting_short }} </smaller>-->
    </div>
</div>
    <div class="container">

